body {
    color: white;
    /* background-image: url("../img/home/research_background.png"); */
    -webkit-tap-highlight-color: #222;

    /* Create the parallax scrolling effect */
    /* height: 100%; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body:not(.modal-open){
    backdrop-filter: blur(10px);
}

body > section {
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
}

* {
    box-sizing: border-box;
}

.bg-loading *,
.bg-loading *:before,
.bg-loading *:after {
    animation-play-state: paused !important;
}

.bg-lazy {
    height: 100vh;
    width: 100vw;
    -webkit-transition: background 3s linear;
    -moz-transition: background 3s linear;
    -o-transition: background 3s linear;
    -ms-transition: background 3s linear;
    transition: background 3s linear;
}

.bg-loading {
    opacity: 0;
}

a {
    color: black;
    /* -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s; */
}

a:hover,
a:focus,
a:visited {
    color: black;
    text-decoration: none;
    outline: none;
}

creative.css ovveride
.navbar-default.affix {
    background-color: rgba(255, 255, 255, 0.9);
}

@media (min-width: 768px) {
    .navbar-default {
        border-color: rgba(255, 255, 255, 0.9);
        background-color: white;
    }

    .navbar-default .nav > li > a,
    .navbar-default .nav > li > a:focus,
    .navbar-default #lang-menu-toggle,
    .navbar-default #lang-menu > li > a {
        color: black;
    }

    .navbar-default .nav > li > a:hover,
    .navbar-default .nav > li > a:focus:hover,
    .navbar-default #lang-menu-toggle:hover,
    .navbar-default #lang-menu > li > a:hover {
        color: black;
    }

    .navbar-default.affix .nav > li > a,
    .navbar-default.affix .nav > li > a:focus,
    .navbar-default.affix #lang-menu-toggle,
    .navbar-default.affix #lang-menu > li > a {
        color: black;
    }

    .navbar-default.affix .nav > li > a:hover,
    .navbar-default.affix .nav > li > a:focus:hover,
    .navbar-default.affix #lang-menu-toggle:hover,
    .navbar-default.affix #lang-menu > li > a:hover {
        color: black;
    }

    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: 15px;
    }
}

@media (max-width: 1401px) {
    #lang-menu-toggle {
        color: black;
    }
}
/* end creative.css ovveride */

/* ICONEM VIDEO */
/* #iconem-video-overlay video {
    margin: 0px;
    padding: 0px;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    background: transparent url("../img/home/studio_background.png") no-repeat 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -98;
}
.video-background {
    background: #ffffff;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
}

.video-foreground,
.video-background iframe {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
@media (min-aspect-ratio: 16/9) {
    .video-foreground {
        height: 300%;
        top: -100%;
    }
}
@media (max-aspect-ratio: 16/9) {
    .video-foreground {
        width: 300%;
        left: -100%;
    }
}

@media (max-width: 768px) {
    .video-background {
        top: -65%;
    }
} */

/* PROJEDCTS */
#projects {
    padding: 0 5%;
}

#projects h4 {
    letter-spacing: 0.2em;
}

/* ICONEM MAP*/
#map {
    background: rgba(255, 255, 255, 0.7);
}

@media only screen and (hover: none) and (pointer: coarse) {
    #map {
        display: none;
    }
}

#iconem-map-container {
    position: relative;
    /* background-image: url(../img/home/research_background.png); */
    background: transparent;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#iconem-map-container svg {
    display: block;
    padding: 2% 12.5% 0% 12.5%;
}

#iconem-map-infos-container {
    height: 50%;
    width: 100%;
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    color: black;
    pointer-events: none;
}

#iconem-map-infos {
    display: none;
    flex-direction: column;
}

#iconem-map-infos-country {
    padding: 10px;
    border-bottom: 1px solid black;
    text-align: center;
}

#iconem-map-infos-city-col {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: flex-end;
}

#iconem-map-infos-city-col .iconem-map-infos-city-cell,
#iconem-map-infos-site-col .iconem-map-infos-site-cell {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

#iconem-map-infos-city-col .iconem-map-infos-city-cell .iconem-map-infos-site {
    opacity: 0;
}

#iconem-map-infos-city-col .iconem-map-infos-city-cell .iconem-map-infos-city {
    position: absolute;
    top: 0;
    right: 0;
}

#iconem-map-infos-site-col {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: flex-start;
}

#iconem-map-infos-description {
    min-height: 0;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: visible;
    flex-shrink: 0;
}

#iconem-map-infos-description-container {
    overflow: hidden;
    display: flex;
    flex-grow: 1;
    position: relative;
    margin-bottom: 20px;
}

#iconem-map-infos-description.crawl {
    position: relative;
    animation: crawl 300s linear;
}

@keyframes crawl {
    0% {
        /* The element starts below the screen */
        top: 20px;
        transform: translateZ(0);
    }
    100% {
        /* This is a magic number, but using a big one to make sure the text is fully off the screen at the end */
        top: -6000px;
        /* Slightly increasing the rotation at the end and moving the text far away from the viewer */
        transform: translateZ(-2500px);
    }
}

#iconem-map-info-description ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#iconem-map-info-description .iconem-map-info-description-place {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

#iconem-map-info-description .iconem-map-info-description-place-name {
    width: 45%;
    text-align: right;
    font-weight: bold;
    padding-right: 10px;
}

#iconem-map-info-description .iconem-map-info-description-site {
    align-items: center;
    text-align: left;
    width: 45%;
    padding-left: 10px;
    white-space: nowrap;
}

#iconem-map-svg path,
#iconem-map-svg polygon {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    stroke-width: 0.5px;
    /* stroke: GhostWhite; */
    fill: lightsteelblue !important;
    /* mix-blend-mode: soft-light !important; */
    shape-rendering: geometricPrecision !important;
}

#iconem-map-svg path.visited,
#iconem-map-svg polygon.visited {
    /*stroke-width: 1px;
  stroke: black;*/
    /* mix-blend-mode: soft-light !important; */
    fill: slategrey !important;
}

#iconem-map-svg path:hover,
circle:hover,
#iconem-map-svg polygon:hover {
    fill: GhostWhite !important;
    /* mix-blend-mode: normal !important; */
    cursor: pointer;
}

/* ICONEM SLICK SLIDER INITIALISATION FIX */
#main-projects-carousel {
    display: none;
}

#main-projects-carousel.slick-initialized {
    display: block;
}

#main-projects-carousel .slick-prev:before,
#main-projects-carousel .slick-next:before
{
    color: black;
}

.owl-carousel {
    display: none;
}

.owl-carousel.owl-loaded {
    display: block;
}

.owl-carousel .owl-item.active .img-toolbar {
    background-color: rgba(255, 255, 255, 0.7);
    width: auto;
    left: auto;
    bottom: 10px;
    right: 10px;
    color: black;
}

.main-projects-carousel-dots li.slick-active,
.owl-dots .owl-dot.active,
.main-projects-carousel-dots li:hover,
.owl-dots .owl-dot:hover {
    background-color: rgba(0, 0, 0, 1);
}

/* photo-box */
.photo-box .photo-box-caption {
    color: black;
}

.photo-box .photo-box-caption .photo-box-caption-content {
    background-color: rgba(255, 255, 255, 0.7);
}

/* navbar */
.navbar-default .nav > li > a {
    padding: 15px 23px;
}

.navbar-default .navbar-header {
    padding: 0px 15px;
}

.navbar-default .navbar-header .navbar-brand {
    padding: 0;
    margin: 14px 15px;
    height: 22px;
    width: 74px;
    background-image: url("../img/navbar/navbar_logo_research_black.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.navbar-default.affix .navbar-header .navbar-brand {
    background-image: url("../img/navbar/navbar_logo_research_black.png");
}

.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
    padding: 15px 30px;
    font-size: 1em;
    letter-spacing: 0.2em;
    color: black;
}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
    color: black;
    font-weight: bold;
}

.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
    background-color: white;
    color: black !important;
    font-weight: bold;
}

.navbar-default.affix .nav > li > a:hover,
.navbar-default.affix .nav > li > a:focus:hover,
.navbar-default.affix #lang-menu-toggle:hover,
.navbar-default.affix #lang-menu > li > a:hover {
    color: black;
}

.navbar-default .collapsing {
    overflow: hidden;
}

.navbar-default .navbar-collapse {
    border: none;
}

.navbar-collapse.collapsing,
.navbar-collapse.collapse.in {
    background-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar-default.affix .navbar-toggle .icon-bar {
    background-color: rgba(0, 0, 0, 0.9);
}

/* header */
header .header-content {
    position: absolute;
    width: 50%;
    background: rgba(255, 255, 255, 0.7);
    color: black;
    transform: translateX(-150%);
    -webkit-transform: translateX(-150%);
    padding: 0 0px;
}

header .header-content .header-content-inner {
    float: right;
    text-align: left;
    margin-right: -200px;
    display: flex;
    align-items: center;
    opacity: 100%;
}

header .header-content .header-content-inner > * {
    display: inline;
    width: 200px;
    padding: 10px;
}

header .header-content .header-content-inner span span {
    display: table-caption;
}

header .header-footer a img {
    height: auto;
    width: auto;
    margin: 11px 7px;
    opacity: 70%;
}

header .header-footer a img:hover {
    opacity: 100%;
}

.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

@keyframes slide-in {
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes slide-in {
    100% {
        -webkit-transform: translateX(0%);
    }
}

#about {
    padding: 0;
}

#about .about-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#about .about-row .about-item {
    width: 50%;
    height: 50vh;
}

@media (min-width: 800px) {
    #about .about-row .about-item {
        width: 25%;
        height: 80vh;
    }
}

@media (min-width: 600px) and (max-width: 799px) {
    #about .about-row .about-item {
        width: 50%;
        height: 50vh;
    }
}

.about-content {
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0);
    color: black;
    padding: 10%;
    transition: box-shadow 0.3s ease-out;
    height: 50vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

@media (min-width: 800px) {
    .about-content {
        height: 80vh;
    }
}

@media (min-width: 600px) and (max-width: 799px) {
    .about-content {
        height: 50vh;
    }
}

.about-content:hover {
    box-shadow: inset 0 0 0 100vw rgba(255, 255, 255, 0.9);
}
.about-content-logo {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-content:hover .about-content-logo {
    display: none;
}
.about-content-description {
    display: none;
}
.about-content:hover .about-content-description {
    display: block;
}

.about-item img {
    max-width: 40%;
}

#team {
    background: none;
    padding: 80px 0px;
}

#team .row {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

#about-team-left {
    background: rgba(255, 255, 255, 0.9);
    color: black;
    padding: 5% 5%;
    /* margin-bottom: 100%; */
}

#about-team-left .team-member-panel.panel {
    box-shadow: none;
}

#contact .contact-container {
    color: black;
}

.iconem-modal .modal-content {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
}

.iconem-modal .project-media-icons-container {
    background-color:rgba(255, 255, 255, 0.7);
}

.iconem-modal .owl-carousel.owl-theme .owl-dots {
    background-color:rgba(255, 255, 255, 0.7);
}

.iconem-modal .owl-carousel.owl-theme,
.owl-dots .owl-dot {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.iconem-modal .owl-carousel.owl-theme,
.owl-dots .owl-dot.active {
    background-color: rgba(0, 0, 0, 1) !important;
}

.iconem-modal .close-modal {
    z-index: 10 !important;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    padding: 9px;
    width: 30px;
    height: 30px;
}

@media (min-width: 600px) {
    .iconem-modal .close-modal {
        right: -30px;
        background-color: rgba(255, 255, 255, 0.7);
    }
}

.iconem-modal .hide-modal-content.modal-content-hidden {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    right: -30px;
    background-color: rgba(255, 255, 255, 0.7);
}

.iconem-modal .hide-modal-content {
    z-index: 10 !important;
    position: absolute;
    top: 30px;
    right: 0px;
    cursor: pointer;
    padding: 9px;
    width: 30px;
    height: 30px;
}

@media (min-width: 600px) {
    .iconem-modal .hide-modal-content {
        right: -30px;
        background-color: rgba(255, 255, 255, 0.7);
    }
}

#partners h3{
    color:black;
}
