/* ICONEM VIDEO */
body > section {
  position:relative;
  background-color:rgba(255, 255, 255, 0.9);
}

#iconem-video-wrapper video {
  margin:0px;
  padding:0px;
  position: fixed;
  top: 50%; left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  background:transparent url('../img/home/home_background.png') no-repeat 0 0;
   -webkit-background-size:cover;
   -moz-background-size:cover;
   -o-background-size:cover;
   background-size:cover;
}

/* ICONEM MAP*/
#iconem-map-container {
  position:relative;
  background-image: url(../img/map/map_background.png);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding: 2% 12.5% 0% 12.5%;
}

#iconem-map-container svg {
  display:block;
}

#iconem-map-info{
  display:none;
  position:absolute;
  bottom:100px;
  margin: 0px auto;
  left: 0; 
  right: 0; 
  width: 400px;
  /*background-color:#cccccc;*/
  /*opacity:0.5;*/
  overflow:hidden;
  text-align: center;
}

#iconem-map-info-title, #iconem-map-info-description{
  color:#ffffff;
  overflow:hidden;
}

#iconem-map-info-description{
  height:300px;
  padding-top:20px;
}

#iconem-map-info-description .crawl {
  position: relative;
  animation: crawl 300s linear;
}

@keyframes crawl {
  0% {
    /* The element starts below the screen */
    top: 50px;
    transform: translateZ(0);
  }
  100% { 
    /* This is a magic number, but using a big one to make sure the text is fully off the screen at the end */
    top: -6000px;
    /* Slightly increasing the rotation at the end and moving the text far away from the viewer */
    transform: translateZ(-2500px);
  }
}

#iconem-map-info-description ul{
  margin: 0;  
  padding: 0;  
  list-style-type: none;  
}

#iconem-map-info-description .iconem-map-info-description-place{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom:20px; 
}

#iconem-map-info-description .iconem-map-info-description-place-name{
  width:50%;
  text-align:right;
  font-weight: bold;
  padding-right:20px;
}

#iconem-map-info-description .iconem-map-info-description-site{
  text-align: left;
  width:50%;
  padding-left:20px;
}

#iconem-map-svg path {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*stroke-width: 0.5px;
  stroke: white;*/
  fill: black !important;
  mix-blend-mode: soft-light !important;
  shape-rendering: geometricPrecision !important;
}

#iconem-map-svg path.visited {
  /*stroke-width: 1px;
  stroke: black;*/
  mix-blend-mode: soft-light !important;
  fill: white !important;
}

#iconem-map-svg path:hover, circle:hover {
  fill: white !important;
  mix-blend-mode: normal !important;
  cursor: pointer;
}