{{ $lang := .Site.Language.Lang }}
<section class="no-padding" id="about">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    {{ with .Site.Params.about.title }}
                        <h3 class="text-center text-uppercase text-bolder">
                            {{ . }}
                        </h3>
                    {{ end }}
                        <br>
                    {{ with .Site.Params.about.description }}
                        <p class="text-justify">{{ . | markdownify }}</p>
                    {{ end }}
                </div>
            </div>
        </div>
    </section>
    <div class="row no-gutter" style="margin:0">
        {{ range sort .Site.Data.about "order"}}
        <div class="col-md-3">
            <a href="#aboutModal{{ .modalID }}" class="photo-box" data-toggle="modal">
                <img src="{{ .img }}" class="img-responsive" alt="">
                <div class="photo-box-caption">
                    <div class="photo-box-caption-content">
                        <div class="text-center text-uppercase text-bolder">
                            {{ index .title $lang }}
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {{ end }}
    </div>
</section>
