{{ "<!-- CONTACT -->" | safeHTML }}
<section id="contact">
    <div class="container">
        {{ with .Site.Params.contact.title }}
            <h3 class="text-uppercase text-bolder text-center section-title">
                {{ . }}
            </h3>
            <hr>
            <br>
        {{ end }}
        <div class="contact-container">
            {{ if .Site.Params.contact.phone }}
                <div class="text-center contact-item">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>{{ .Site.Params.contact.phone }}</p>
                </div>
            {{ end }}
            {{ if .Site.Params.contact.adress }}
                <div class="text-center contact-item">
                    <i class="fa fa-map-marker fa-3x wow bounceIn"></i>
                    <p>{{ .Site.Params.contact.adress }}</p>
                </div>
            {{ end }}
            {{ if .Site.Params.contact.email }}
                <a class="text-center contact-item" href="mailto:{{ .Site.Params.contact.email }}">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ .Site.Params.contact.email }}</p>
                </a>
            {{ end }}
            {{ if .Site.Params.brochure }}
                <a class="text-center contact-item" href="{{ .Site.Params.brochure.pdf }}" target="_blank">
                    <i class="fa fa-file-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ .Site.Params.brochure.title }}</p>
                </a>
            {{ end }}
            {{ if .Site.Params.press_kit }}
                <a class="text-center contact-item" href="{{ .Site.Params.press_kit.pdf }}" target="_blank">
                    <i class="fa fa-file-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ .Site.Params.press_kit.title }}</p>
                </a>
            {{ end }}
        </div>
    </div>
</section>
