{{ "<!-- HEADER -->" | safeHTML }}
  <!-- <div id="iconem-video-overlay">
    <video autoplay muted loop>
        <source
            src="video/Iconem_Rethink_Human_Heritage.mp4"
            type="video/mp4"
        />
    </video>
  </div> -->
    <!-- <div class="video-background">
        <div class="video-foreground">
          <div id="youtubeIframe"></div>  
        </div>
    </div> -->
    <header>
      <div id="header-content" class="header-content">
        <div class="header-content-inner">
            {{ if eq .Type "research" }}
              <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{.Site.Params.home.logo_research}}" class="header-draw"/>
            {{ else if eq .Type "studio" }}
              <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{.Site.Params.home.logo_studio}}" class="header-draw"/>
            {{ end }}
            {{ $slogan_prefix := .Site.Params.home.slogan_research_prefix }}
            {{ if eq .Type "studio" }}
              {{ $slogan_prefix = .Site.Params.home.slogan_studio_prefix }}
            {{ end }}
            {{ with .Site.Params.home }}
                <span><span class="text-uppercase text-bolder">{{ $slogan_prefix | markdownify }}</span><span class="text-uppercase">{{ .slogan | markdownify }}</span></span>
            {{ end }}
        </div>
      </div>
      <div class="header-footer">
          {{ $type := .Type }}
          {{ range.Site.Params.home.social }}
          <a href="{{ .link }}" target="_blank">
              {{ if eq $type "research" }}
                <img src="{{ .icon_black}}" />
              {{ else if eq $type "studio" }}
                <img src="{{ .icon_white}}" />
              {{ end }}
          </a>
          {{ end }}
      </div>
    </header>
</div>
