{{ "<!-- jQuery -->" | safeHTML }}
<script src="{{ "js/jquery.js" | absURL }}"></script>
{{ "<!-- Bootstrap Core JavaScript -->" | safeHTML }}
<script src="{{ "js/bootstrap.min.js" | absURL }}"></script>
{{ "<!-- Plugin JavaScript -->" | safeHTML }}
<script src="{{ "js/jquery.easing.min.js" | absURL }}"></script>
<script src="{{ "js/jquery.fittext.js" | absURL }}"></script>
<script src="{{ "js/wow.min.js" | absURL }}"></script>
{{ if .Site.Params.location }}
<script src="//maps.googleapis.com/maps/api/js?key={{ .Site.Params.location.maps_api_key }}&v=3.exp"></script>
<script src="{{ "js/hpneo.gmaps.js" | absURL }}"></script>
<script src="{{ "js/gmaps.init.js" | absURL }}"></script>
{{ end }}
{{ "<!-- Custom Theme JavaScript -->" | safeHTML }}
<script src="{{ "js/creative.js" | absURL }}"></script>
<script src="{{ "js/slick.min.js" | absURL }}"></script>
<script src="{{ "js/owl.carousel.min.js" | absURL }}"></script>

<script type="text/javascript">
  // Handle interactive svg map
  var lang = {{.Site.Language.Lang}};
  var countries = {{.Site.Data.map}};

  // Initialize all interaction and display of projects within a country on the map
  Object.keys(countries).map((mapId) => {
    $('#' + mapId).attr("class", "visited");
    
    $('#iconem-map-svg path#' + mapId).hover((e) => {
      $('#iconem-map-info-content > #iconem-map-info-title').append(countries[mapId].name[lang]);
      var toAppend = '';
      countries[mapId].places.map((place) => {
        // $('#iconem-map-info-content > #iconem-map-info-description ul').append("<li>" + place.name[lang] + "</li>");
        
        toAppend = toAppend + '<li class="iconem-map-info-description-place"> <div class="iconem-map-info-description-place-name">' + place.name[lang] +  '</div> <ul class="iconem-map-info-description-site">';
        place.sites.map((site) => {
          toAppend = toAppend + '<li class="iconem-map-info-description-site-name">' + site.name[lang] + '</li>';
        });
        toAppend = toAppend + '</ul> </li>';
      });
      $('#iconem-map-info-content > #iconem-map-info-description ul').append(toAppend);

      $('#iconem-map-info-content').css('display','flex');

      //Add text animation (vertical scroll) if necessary
      var element = $('#iconem-map-info-content > #iconem-map-info-description')[0];
      if (element.offsetHeight < element.scrollHeight) {
        $('#iconem-map-info-content > #iconem-map-info-description > ul').addClass('crawl');
      } 

    });
 
    $('#iconem-map-svg path#' + mapId).mouseleave((e) => {
      $('#iconem-map-info-content > #iconem-map-info-title').empty();
      $('#iconem-map-info-content > #iconem-map-info-description > ul').empty();
      $('#iconem-map-info-content > #iconem-map-info-description > ul').removeClass('crawl');
      $('#iconem-map-info-content').css('display','none');
    });
  });
</script>

<script type="text/javascript">
  // config projects section carousel
  $(document).ready(function() {
    $('#main-projects-carousel').slick({
      rows: 3,
      slidesPerRow: 4,
      infinite: false,
      adaptiveHeight: true,
      dots: true,
      appendDots: $('#main-projects-carousel-dots-container'),
      dotsClass: 'main-projects-carousel-dots',
      arrows:false,
      setPosition:true,
      responsive: [
        {
          breakpoint: 1200,
          settings: {
            rows: 3,
            slidesPerRow: 3
          }
        },
        {
          breakpoint: 800,
          settings: {
            rows: 3,
            slidesPerRow: 2
          }
        },
        {
          breakpoint: 600,
          settings: {
            rows: 2,
            slidesPerRow: 1
          }
        }
      ]
    });

    // Resize projects slider when opening a modal so that we do not display next projects below the scrollbar when it disappear
    $(window).on('show.bs.modal', () => {
      $('#main-projects-carousel').slick('resize');
    });

  });
</script>

<script type="text/javascript">
  $(document).ready(function(){

    var modalsCarouselConfig = {
      items: 1,
      loop: true,
      dots: true,
      autoplay: true,
      autoplayTimeout: 4000,
      // nav: true,
      // navText: ['<i class="fa fa-angle-left fa-2x"></i>','<i class="fa fa-angle-right fa-2x"></i>']
    }

    /* Fix owl-carousel bad behaviour */
    // $(window).on('shown.bs.modal', (e) => {
    // Previous line do not work using a fade class on the modal element. This is just a fix so that we can init carousel once the modal is displayed, after fade animation
    $(document).on($.support.transition.end, '.modal.fade.in', function(e) {
      var $target = $(e.target);
      if ($(e.target).is(".iconem-modal")) {
        // We init the first carrousel element of the modal, once is is visible
        $(e.target).find(".collapse.in .owl-carousel").owlCarousel(modalsCarouselConfig);
      }
    });

    $('.panel').on('shown.bs.collapse',  (e) => {
      // We init the carrousel element of the tab we are currently displaying, once it is visible
      $('.owl-carousel').owlCarousel(modalsCarouselConfig);
    });
  });
</script>