{{ "<!-- jQuery -->" | safeHTML }}
<script src="{{ "js/jquery.js" | absURL }}"></script>
{{ "<!-- Bootstrap Core JavaScript -->" | safeHTML }}
<script src="{{ "js/bootstrap.min.js" | absURL }}"></script>
{{ "<!-- Plugin JavaScript -->" | safeHTML }}
<script src="{{ "js/jquery.easing.min.js" | absURL }}"></script>
<script src="{{ "js/jquery.fittext.js" | absURL }}"></script>
<script src="{{ "js/wow.min.js" | absURL }}"></script>
{{ if .Site.Params.location }}
<script src="//maps.googleapis.com/maps/api/js?key={{ .Site.Params.location.maps_api_key }}&v=3.exp"></script>
<script src="{{ "js/hpneo.gmaps.js" | absURL }}"></script>
<script src="{{ "js/gmaps.init.js" | absURL }}"></script>
{{ end }}
{{ "<!-- Custom Theme JavaScript -->" | safeHTML }}
<script src="{{ "js/creative.js" | absURL }}"></script>
<script src="{{ "js/slick.min.js" | absURL }}"></script>
<script src="{{ "js/owl.carousel.min.js" | absURL }}"></script>

<script>
  {{ $type := .Type }}
  {{ $projects := .Site.Data.projects.research }}
  {{ if eq $type "studio" }}
    {{ $projects = .Site.Data.projects.studio }}
  {{ end }}

  // https://css-tricks.com/making-animations-wait/
  {{ if eq .Type "research" }}
  const imageUrl = "img/home/research_background.png";
  {{ else if eq .Type "studio" }}
    const imageUrl = "img/home/studio_background.png";
  {{ end }}

  var body = $('body');
  var backgrounds = new Array(
    {{ range $projectIndex, $project := $projects }}
      {{$projectImage := index ($project.img) 0}}
      'url(' + {{$projectImage.full}} + ')',
    {{ end }}
  );
  var current = 0;
  function nextBackground() {
    document.body.style.backgroundImage = backgrounds[current = ++current % backgrounds.length];
    setTimeout(nextBackground, 10000);
  }

  document.body.classList.add("bg-loading");
  let preloaderImg = document.createElement("img");
  preloaderImg.src = imageUrl;

  preloaderImg.addEventListener('load', (event) => {   
    document.body.classList.remove("bg-loading");
    document.body.style.backgroundImage = `url(${imageUrl})`;
    preloaderImg = null;
    setTimeout(nextBackground, 10000);
  });
  
  // Deferring images without lazy loading or jQuery
  // https://varvy.com/pagespeed/defer-images.html
  function init() {
    var imgDefer = document.getElementsByTagName('img');
    for (var i=0; i<imgDefer.length; i++) {
    if(imgDefer[i].getAttribute('data-src')) {
    imgDefer[i].setAttribute('src',imgDefer[i].getAttribute('data-src'));
    imgDefer[i].onload = () => {
      $('#main-projects-carousel').slick('resize');
    }
    } } 
  }
  window.onload = init;
</script>

<script type="text/javascript">

  var projects = {{.Site.Data.projects}};
    
  // Handle interactive svg map
  var lang = {{.Site.Language.Lang}};
  var countries = {{.Site.Data.map}};

  function sortPlaces(a,b) {
    if(a.name[lang] < b.name[lang]) return -1;
    if(a.name[lang] > b.name[lang]) return 1;
    return 0;
  }

  // Initialize all interaction and display of projects within a country on the map
  Object.keys(countries).map((mapId) => {
    $('#' + mapId).attr("class", "visited");
    
    $('#iconem-map-svg path#' + mapId).hover((e) => {
      $('#iconem-map-infos-country').append(countries[mapId].name[lang]);

      var cityCellsToAppend = '';
      var siteCellsToAppend = '';

      countries[mapId].places.sort(sortPlaces).map((place) => {
        cityCellsToAppend += 
        '<div class="iconem-map-infos-city-cell">' +
          '<div class="iconem-map-infos-city">' + place.name[lang] + '</div>';

        siteCellsToAppend += '<div class="iconem-map-infos-site-cell">';

        place.sites.sort(sortPlaces).map((site, index)=> {
          if (index === 0) {
            var name;
            if (site.name[lang].length > place.name[lang].length) {
              name = site.name[lang];
            } else {
              name = place.name[lang];
            }
            cityCellsToAppend += '<div class="iconem-map-infos-site">' + name + '</div>';
          } else {
            cityCellsToAppend += '<div class="iconem-map-infos-site">' + site.name[lang] + '</div>';
          }
          siteCellsToAppend += '<div class="iconem-map-infos-site">' + site.name[lang] + '</div>';
        });

        cityCellsToAppend += '</div>';
        siteCellsToAppend += '</div>';
      });
      $('#iconem-map-infos-city-col').append(cityCellsToAppend);
      $('#iconem-map-infos-site-col').append(siteCellsToAppend);
      $('#iconem-map-infos').css('display','flex');

      //Add text animation (vertical scroll) if necessary
      var element = $('#iconem-map-infos-description-container > div')[0];
      if (element.offsetHeight < element.scrollHeight) {
        $('#iconem-map-infos-description').addClass('crawl');
      } 
    });
 
    $('#iconem-map-svg path#' + mapId).mouseleave((e) => {
      $('#iconem-map-infos-country').empty();
      $('#iconem-map-infos-city-col').empty();
      $('#iconem-map-infos-site-col').empty();
      $('#iconem-map-infos-description').removeClass('crawl');
      $('#iconem-map-infos').css('display','none');
    });
  });
</script>

<script type="text/javascript">
  // init tooltips
  $(document).ready(function() {
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  });
</script>

<script type="text/javascript">
  // config projects section carousel
  $(document).ready(function() {
    $('#main-projects-carousel').slick({
      rows: 3,
      slidesPerRow: 5,
      infinite: false,
      adaptiveHeight: true,
      dots: true,
      appendDots: $('#main-projects-carousel-dots-container'),
      dotsClass: 'main-projects-carousel-dots',
      arrows:false,
      setPosition:true,
      responsive: [
        {
          breakpoint: 1200,
          settings: {
            rows: 3,
            slidesPerRow: 3
          }
        },
        {
          breakpoint: 800,
          settings: {
            rows: 3,
            slidesPerRow: 2
          }
        },
        {
          breakpoint: 600,
          settings: {
            rows: 3,
            slidesPerRow: 1
          }
        }
      ]
    });

    // Resize projects slider when opening a modal so that we do not display next projects below the scrollbar when it disappear
    $(window).on('show.bs.modal', () => {
      $('#main-projects-carousel').slick('resize');
    });

  });
</script>

<script type="text/javascript">
  $(document).ready(function(){
    {{ if eq .Type "research" }}
      var projects = {{.Site.Data.projects.research}};
    {{ else if eq .Type "studio" }}
      var projects = {{.Site.Data.projects.studio}};
    {{ end }}

    var modalCarouselConfig = {
      items: 1,
      loop: true,
      dots: true,
      video: true,
      lazyLoad: true,
      nav: true,
      navText: ['<i class="fa fa-angle-left fa-2x"></i>','<i class="fa fa-angle-right fa-2x"></i>'],
      onInitialized: function() {
        var carousel = this.$element;
        var carouselId = carousel.parent().attr('id');
        var projectId = carouselId.split('-')[1];
        var project = projects[projectId];

        // once media carousel is initialized,
        // add preview images on videos
        carousel.find('.owl-video-wrapper').each(function(index){
          var i = (index + Math.floor(project.video.length / 2)) % project.video.length;
          var previewContainer = document.createElement('div');
          previewContainer.classList.add('project-video-preview');
          var img = document.createElement('img');
          img.src = project.video[i].preview;
          previewContainer.appendChild(img);
          this.appendChild(previewContainer);
        });

        // add handler on carousel's change event
        carousel.on('changed.owl.carousel', function(event) {
          const pageIndex = event.page.index;
          const nbPageImg = project.img ? project.img.length : 0;
          const nbPageVideo = project.video ? project.video.length : 0; 
          const nbPageModels = project.models ? project.models.length : 0; 
          const pageStartImg = 0;
          const pageStartVideo = pageStartImg + nbPageImg;
          const pageStartModels = pageStartVideo + nbPageVideo;

          const imgToggler = $(`#project-${projectId}-img-carousel-toggler`);
          const videoToggler = $(`#project-${projectId}-video-carousel-toggler`);
          const modelsToggler = $(`#project-${projectId}-models-carousel-toggler`);

          if (pageIndex < pageStartVideo) {
            imgToggler.removeClass('collapsed');
            videoToggler.addClass('collapsed');
            modelsToggler.addClass('collapsed');
          } else if (pageIndex < pageStartModels) {
            imgToggler.addClass('collapsed');
            videoToggler.removeClass('collapsed');
            modelsToggler.addClass('collapsed');
          } else {
            imgToggler.addClass('collapsed');
            videoToggler.addClass('collapsed');
            modelsToggler.removeClass('collapsed');
          }
        });
      }
    };

    $(document).on($.support.transition.end, '.modal.fade', function(e) {

      if ($(e.target).is(".iconem-modal") && $(e.target).hasClass('in')) {
        // a project modal has just opened :
        // => init project carousel
        const carousel = $(e.target).find(".owl-carousel");
        carousel.owlCarousel(modalCarouselConfig);

        // => load carousel's iframes (if needed)
        if (carousel.find('iframe').length > 0) {
          const projectModalID = $(e.target).attr('id').split('portfolioModal')[1];
          const project = projects[projectModalID];
          carousel.find('iframe').each(function(index) {
            if (($(this).attr('src')).length === 0) {
                $(this).attr('src', project.models[index % project.models.length]);
            }
          });
        }
      }

      if ($(e.target).is(".iconem-modal") && !$(e.target).hasClass('in')) {
        // a project modal has just closed :
        // => unload iframes (sketchfab embedded models)
        const carousel = $(e.target).find(".owl-carousel");
        carousel.find('iframe').each(function(index) {
          $(this).attr('src', '');
        });
      }

    });

    // handle carousel navigation using keyboard arrows
    $(document).keyup(function (e) {
      if (e.keyCode === 37) {
        //left arrow
        var currentlyOpenCarousel = $('.modal.fade.in .owl-carousel').first();
        currentlyOpenCarousel.trigger('prev.owl.carousel');
      }
      if (e.keyCode === 39) {
        //rightarrow
        var currentlyOpenCarousel = $('.modal.fade.in .owl-carousel').first();
        currentlyOpenCarousel.trigger('next.owl.carousel');
      }
    });

  });
</script>

<!-- carousel config for clients/partners -->
<script type="text/javascript">
  $(document).ready(function(){
    $("#partners .owl-carousel").owlCarousel({
      nav: false,
      dots: false,
      autoplay: true,
      autoWidth: true,
      autoplayHoverPause: false,
      autoplayTimeout: 2000,
      rewind: true
    });
  });
</script>

<!-- Youtube hero background video -->
<!--
<script type="text/javascript">
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('youtubeIframe', {
      height: '1080',
      width: '1920',
      videoId: 'EELW6fBNvKo',
      playerVars: {
          mute: 1,
          autoplay: 1,
          loop: 1,
          controls: 0,
          showinfo: 0,
          autohide: 0,
          enablejsapi: 1,
          modestbranding: 1,
          playlist: 'EELW6fBNvKo',
          vq: 'hd1080'
      },
      allowfullscreen: 1,
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange,
        'onPlaybackQualityChange': onPlayerPlaybackQualityChange,
      }
    });
  }

  function onPlayerReady(event) {
    onPlayerPlaybackQualityChange(event);
    event.target.playVideo();
  }

  function onPlayerStateChange(event) {
    onPlayerPlaybackQualityChange(event);
    if(event.data === 1) {
      document.getElementById('iconem-video-overlay').style.display = 'none';
      document.getElementById('header-content').style.visibility = 'hidden';
    }
  }

  // This is only to force render quality while loading the youtube video
  function onPlayerPlaybackQualityChange(event) {
    var playbackQuality = event.target.getPlaybackQuality();
    var suggestedQuality = 'hd1080';
    if( playbackQuality !== 'hd1080') {
        event.target.setPlaybackQuality( suggestedQuality );
    }
}

</script> -->

<!-- header -->
<script>
  $('header').ready(function() { 
    $('#header-content').addClass("slide-in");
  });
</script>