{{ "<!-- NAVIGATION -->" | safeHTML }}
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        {{ "<!-- Brand and toggle get grouped for better mobile display -->" | safeHTML }}
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top"></a>
        </div>
        {{ "<!-- Collect the nav links, forms, and other content for toggling -->" | safeHTML }}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {{ if and .Site.Data.projects .Site.Params.navigation.links.projects }}
                    <li>
                        <a class="page-scroll" href="#projects">{{ .Site.Params.navigation.links.projects }}</a>
                    </li>
                {{ end }}
                {{ if .Site.Params.navigation.links.map }}
                    <li>
                        <a class="page-scroll" href="#map">{{ .Site.Params.navigation.links.map }}</a>
                    </li>
                {{ end }}
                {{ if and .Site.Params.about .Site.Params.navigation.links.about }}
                    <li>
                        <a class="page-scroll" href="#about">{{ .Site.Params.navigation.links.about }}</a>
                    </li>
                {{ end }}
                {{ if and .Site.Params.contact .Site.Params.navigation.links.contact }}
                    <li>
                        <a class="page-scroll" href="#contact">{{ .Site.Params.navigation.links.contact }}</a>
                    </li>
                {{ end }}
                <li>
                    <button id="lang-menu-toggle" data-toggle="collapse" data-target='#lang-menu' aria-expanded="false">
                        {{ .Site.Language.Lang }}
                        <span class="caret"></span>
                    </button>
                    <ul id="lang-menu" class="collapse">
                        {{ range .Site.Params.navigation.lang}}
                            <li><a class="page-scroll" href="{{ .link }}">{{ .code }}</a></li>
                        {{ end }}
                    </ul>
                </li>
            </ul>
        </div>
        {{ "<!-- /.navbar-collapse -->" | safeHTML }}
    </div>
    {{ "<!-- /.container-fluid -->" | safeHTML }}
</nav>