{{ "<!-- Partners -->" | safeHTML }}
{{ $lang := .Site.Language.Lang }}
{{ $type := .Type }}
<section id="partners">
    <div class="row text-center">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <h3 class="text-bold text-uppercase section-title">{{ .Site.Params.partners.partners }}</h3>
            <hr class="light">
            <div class="owl-carousel partners-carousel">
                {{ range .Site.Data.collaborators.partners.partners }}
                    <div class="item">
                        {{ if eq $type "studio" }}
                            <a href="{{ .link }}" target="_blank">
                                <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ ((resources.Get .icon_studio).Fit "100x50 webp").RelPermalink }}" 
                                    onmouseenter="this.src={{ ((resources.Get .icon_active).Fit "100x50 webp").RelPermalink }}"
                                    onmouseleave="this.src={{ ((resources.Get .icon_studio).Fit "100x50 webp").RelPermalink }}"
                                />
                            </a>
                        {{ end }}
                        {{ if eq $type "research" }}
                            <a href="{{ .link }}" target="_blank">
                                <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ ((resources.Get .icon_research).Fit "100x50 webp").RelPermalink }}" 
                                onmouseenter="this.src={{ ((resources.Get .icon_active).Fit "100x50 webp").RelPermalink }}"
                                onmouseleave="this.src={{ ((resources.Get .icon_research).Fit "100x50 webp").RelPermalink }}"
                                />
                            </a>
                        {{ end }}
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
    <br>
    <div class="row text-center">
        <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
            <h3 class="text-bold text-uppercase section-title">{{ .Site.Params.partners.clients }}</h3>
            <hr class="light">
            <div class="owl-carousel partners-carousel">
                {{ range .Site.Data.collaborators.clients.clients }}
                    <div class="item">
                        {{ if eq $type "studio" }}
                        <a href="{{ .link }}" target="_blank">
                            <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" 
                                data-src="{{ ((resources.Get .icon_studio).Fit "100x50 webp").RelPermalink }}"
                                onmouseenter="this.src={{ ((resources.Get .icon_active).Fit "100x50 webp").RelPermalink }}"
                                onmouseleave="this.src={{ ((resources.Get .icon_studio).Fit "100x50 webp").RelPermalink }}"
                            />
                        </a>
                        {{ end }}
                        {{ if eq $type "research" }}
                        <a href="{{ .link }}" target="_blank">
                            <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" 
                                data-src="{{ .icon_research}}" 
                                onmouseenter="this.src={{ ((resources.Get .icon_active).Fit "100x50 webp").RelPermalink }}"
                                onmouseleave="this.src={{ ((resources.Get .icon_research).Fit "100x50 webp").RelPermalink }}"
                            />
                        </a>
                        {{ end }}
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
