{{ "<!-- Partners -->" | safeHTML }}
{{ $lang := .Site.Language.Lang }}
<section id="partners">
    <div class="row text-center">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <h3 class="text-bold text-uppercase section-title">{{ .Site.Params.partners.partners }}</h3>
            <hr class="light">
            <div class="owl-carousel partners-carousel">
                {{ range .Site.Data.partners }}
                    <div class="item">
                        <a href="{{ .link }}" target="_blank">
                            <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ .icon}}" 
                                onmouseenter="this.src={{ .icon_active}}" 
                                onmouseleave="this.src={{ .icon}}"
                            />
                        </a>
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
    <br>
    <div class="row text-center">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <h3 class="text-bold text-uppercase section-title">{{ .Site.Params.partners.clients }}</h3>
            <hr class="light">
            <div class="owl-carousel partners-carousel">
                {{ range .Site.Data.clients }}
                    <div class="item">
                        <a href="{{ .link }}" target="_blank">
                            <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ .icon}}" 
                                onmouseenter="this.src={{ .icon_active}}" 
                                onmouseleave="this.src={{ .icon}}"
                            />
                        </a>
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
