{{ "<!-- Philo Modal content-->" | safeHTML }}
{{ $lang := .Site.Language.Lang }}
<div class="modal-scrollable text-justify">
    <div>{{ index .Site.Data.about.philo.description $lang | markdownify }}</div>
        <div id="partners" class="text-center">
            <h5 class="text-bold text-uppercase">{{ .Site.Params.about.partners }}</h5>
        <hr>
            {{ range .Site.Data.partners }}
                <a href="{{ .link }}" target="_blank">
                    <img src="{{ .icon}}" 
                        onmouseenter="this.src={{ .icon_active}}" 
                        onmouseleave="this.src={{ .icon}}"
                    />
                </a>
            {{ end }}
        </div>
        <div id="clients" class="text-center">
            <h5 class="text-bold text-uppercase">{{ .Site.Params.about.clients }}</h5>
        <hr>
            {{ range .Site.Data.clients }}
                <a href="{{ .link }}" target="_blank">
                    <img src="{{ .icon}}" 
                        onmouseenter="this.src={{ .icon_active}}" 
                        onmouseleave="this.src={{ .icon}}"
                    />
                </a>
            {{ end }}
        </div>
    </div>
</div>