{{ "<!-- Portfolio Modals -->" | safeHTML }}
{{ $lang := .Site.Language.Lang }}
{{ range $projectIndex, $project := .Site.Data.projects }}
<div class="iconem-modal modal fade" id="portfolioModal{{ $project.modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        
        <img src="../img/home/cross_black.png" class="close-modal" data-dismiss="modal"
            onclick="stopPreviewCarousel({{ $projectIndex }});unloadIFrames({{ $projectIndex }});returnToImgCarousel({{ $projectIndex }});stopVideos()">
        
        <div class="col-sm-10 col-sm-offset-1 modal-body">
            <div class="modal-fixed">
                <h3 class="text-uppercase">{{ index $project.title $lang }}</h3>
                <div>
                    <hr/>
                </div>
                <div class="project-media-icons-container">
                    {{ if (or $project.video $project.models) }}
                        <a role="button"
                            id="project-{{ $projectIndex }}-img-carousel-toggler"
                            data-toggle="collapse"
                            href="#project-{{ $projectIndex }}-img-carousel"
                            data-parent='#project-{{$projectIndex}}-media'
                            aria-expanded="true"
                            onclick="stopPreviewCarousel({{ $projectIndex }});unloadIFrames({{ $projectIndex }});stopVideos();">
                            <img src="../img/projects/icons/img_black.png" 
                                data-toggle="tooltip"
                                data-placement="top"
                                title="{{ $.Site.Params.projects.modal.pictures }}" 
                            />
                        </a>
                        {{ if $project.video }}
                            <a role="button"
                                id="project-{{ $projectIndex }}-video-carousel-toggler"
                                data-toggle="collapse"
                                class="collapsed"
                                href="#project-{{ $projectIndex }}-video-carousel"
                                data-parent='#project-{{$projectIndex}}-media'
                                aria-expanded="false"
                                onclick="stopPreviewCarousel({{ $projectIndex }});unloadIFrames({{ $projectIndex }});">
                                <img src="../img/projects/icons/video_black.png"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="{{ $.Site.Params.projects.modal.videos }}" 
                                />
                            </a>
                        {{ end }}
                        {{ if $project.models }}
                            <a role="button"
                                id="project-{{ $projectIndex }}-models-carousel-toggler"
                                data-toggle="collapse"
                                class="collapsed"
                                href="#project-{{ $projectIndex }}-models-carousel"
                                data-parent='#project-{{$projectIndex}}-media'
                                aria-expanded="false"
                                onclick="stopPreviewCarousel({{ $projectIndex }});loadIFrames({{ $projectIndex }}, {{$project.models}});stopVideos();">
                                <img src="../img/projects/icons/3ds_black.png"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="{{ $.Site.Params.projects.modal.models }}"
                                />
                            </a>
                        {{ end }}
                    {{ end }}
                </div>

                <div class="project-media-container">
                    {{ with $project.thumbnail }}
                        <img class="img-responsive dummy" src="{{ . }}">
                    {{ end }}
                    <div class="panel-group project-media" id="project-{{$projectIndex}}-media" role="tablist" aria-multiselectable="false">

                        {{ "<!-- Image carousel -->" | safeHTML }}
                        <div class="panel">
                            <div id="project-{{ $projectIndex }}-img-carousel" class="panel-collapse collapse in" role="tabpanel">
                                <div class="owl-carousel owl-theme preview-img-carousel">
                                    {{ range $imgIndex, $img := $project.img }}
                                        <div>
                                            <img src="{{ $img.full }}" class="img-responsive">
                                            <div class="img-toolbar">
                                                <div class="img-caption">
                                                    {{with $img.caption }}
                                                        {{ index $img.caption $lang }}
                                                    {{end}}
                                                </div>
                                                <div class="img-fullscreen-btn"
                                                onclick="toggleFullScreenCarousel('#project-{{ $projectIndex }}-img-carousel')"
                                                >
                                                </div>
                                            </div>
                                        </div>
                                    {{ end }}
                                </div>
                                <img src="../img/home/cross_white.png" class="img-cross" onclick="toggleFullScreenCarousel('#project-{{ $projectIndex }}-img-carousel')">
                            </div>
                        </div>

                        {{ "<!-- Video carousel -->" | safeHTML }}
                        {{ if $project.video }}
                        <div class="panel">
                            <div id="project-{{ $projectIndex }}-video-carousel" class="panel-collapse collapse" role="tabpanel">
                                <div class="owl-carousel owl-theme video-carousel">
                                    {{ range $project.video }}
                                        <a class="owl-video" href="{{ .src }}"></a>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                        {{ end }}

                        {{ "<!-- 3D models carousel -->" | safeHTML }}
                        {{ if $project.models }}
                        <div class="panel">
                            <div id="project-{{ $projectIndex }}-models-carousel" class="panel-collapse collapse" role="tabpanel">
                                <div class="owl-carousel owl-theme 3d-carousel">
                                    {{ range $project.models }}
                                        <iframe width="100%" height="100%"
                                        src=''
                                        frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel="">
                                        </iframe>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
            <div class="modal-scrollable text-justify">
                <strong>2017</strong>
                {{ with $project.subtitle }}
                    <i>{{ index . $lang }}</i>
                {{ end }}
                {{ with $project.actors }}
                <div class="text-sm">
                    <strong>{{ $.Site.Params.projects.modal.actors }}</strong>
                    <span>{{ index $project.actors $lang }}</span>
                </div>
                {{ end }}
                {{ with $project.partners }}
                <div class="text-sm">
                    <strong>{{ $.Site.Params.projects.modal.partners }}</strong>
                    <span>{{ index $project.partners $lang }}</span>
                </div>
                {{ end }}
                <hr align="left">
                <div>{{ index $project.description $lang | markdownify }}</div>
            </div>
        </div>
    </div>
</div>
{{ end }}


<script type="text/javascript">
    function stopPreviewCarousel(projectIndex) {
        var id = `#project-${projectIndex }-img-carousel`;
        $(id).find('.owl-carousel.preview-img-carousel').trigger('stop.owl.autoplay');
    }

    function resizeFull(carouselId) {
        $(carouselId).find('.owl-carousel')
        .css('width', window.innerWidth)
        .css('height', window.innerHeight);

        $(carouselId).find('.owl-carousel .owl-item')
        .css('width', window.innerWidth)
        .css('height', window.innerHeight);

        $(carouselId).find('.owl-carousel').trigger('refresh.owl.carousel');
    }

    function toggleFullScreenCarousel(carouselId) {
        $(carouselId).find('.owl-carousel').trigger('stop.owl.autoplay');

        if ($(carouselId).find('.owl-carousel').hasClass('full')) {
            window.removeEventListener('resize', resizeHandler, true);
            window.removeEventListener('keyup', keyupHandler, true);

            $(carouselId).find('.owl-carousel')
            .removeClass('full')
            .css('width', '')
            .css('height', '')

            $(carouselId).find('.owl-carousel .owl-item')
            .css('width', '')
            .css('height', '');

            $(carouselId).find('.owl-carousel').trigger('refresh.owl.carousel');
        } else {
            $(carouselId).find('.owl-carousel')
            .addClass('full');

            resizeFull(carouselId);

            window.addEventListener('resize', resizeHandler=function(){ resizeFull(carouselId); }, true);
            window.addEventListener('keyup', keyupHandler=function (e) {
                if (e.keyCode === 27 && $(carouselId).find('.owl-carousel').hasClass('full')) {
                    toggleFullScreenCarousel(carouselId);
                }
            }, true);
        }
    }

    function loadIFrames(projectIndex, projectModels) {
        var carouselId = `#project-${projectIndex}-models-carousel`;
        $(carouselId).find('iframe').each(function(index) {
            if (($(this).attr('src')).length === 0) {
                $(this).attr('src', projectModels[index]);
            }
        });
    }

    function unloadIFrames(projectIndex) {
        var carouselId = `#project-${projectIndex}-models-carousel`;
        $(carouselId).find('iframe').each(function() {
            $(this).attr('src', '');
        });
    }

    function returnToImgCarousel(projectIndex) {
        var imgCarouselTogglerId = `#project-${projectIndex}-img-carousel-toggler`;
        var imgCarouselId = `#project-${projectIndex}-img-carousel`;
        if (!$(imgCarouselId).hasClass('in')) {
            $(imgCarouselTogglerId).click();
        }
    }

    function stopVideos() {
        var eventNext = $.Event('keyup');
        eventNext.keyCode = 39; // right arrow
        var eventPrev = $.Event('keyup');
        eventPrev.keyCode = 37; // left arrow
        $(document).trigger(eventNext);
        $(document).trigger(eventPrev);
    }
</script> 