{{ $lang := .Site.Language.Lang }}
{{ $type := .Type }}
<section class="no-padding" id="projects">
    <section>
      <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                {{ with .Site.Params.projects.title }}
                    <h4 class="text-center text-uppercase text-bolder">{{ . }}</h4>
                    <!-- <hr> -->
                {{ end }}
                    <!-- <br>
                {{ with .Site.Params.projects.description }}
                    <p class="text-justify">{{ . | markdownify }}</p>
                {{ end }} -->
            </div>
        </div>
      </div>
    </section>
    <!-- <div class="container"> -->
      <div id="main-projects-carousel">
        {{ $projects := .Site.Data.carousel.research.carouselList }}
        {{ if eq $type "studio" }}
          {{ $projects = .Site.Data.carousel.studio.carouselList }}
        {{ end }}   
        {{ range $projectIndex := $projects }}
              {{ $project := (index $.Site.Data.projects.research $projectIndex) }}
              {{ if eq $type "studio" }}
                {{ $project = (index $.Site.Data.projects.studio $projectIndex) }}
              {{ end }}   
              <div class="project-slide">
              <a href="#portfolioModal{{ $project.modalID }}" onClick="(function(){ gtag('config', 'UA-107915151-2', {'page_path': '#portfolioModal{{ $project.modalID }}'}); return false; })();return false;" class="photo-box" data-toggle="modal" data-keyboard="false">
                      {{ with $project.thumbnail }}
                        <img src="{{ ((resources.Get .).Fit "450x260 webp").RelPermalink }}" class="img-responsive" alt="">
                      {{ end }}
                      <div class="photo-box-caption">
                          <div class="photo-box-caption-content">
                              <div class="text-uppercase">
                                  {{ index $project.thumbnailTitle $lang}}
                              </div>
                              <!-- <hr/> -->
                              <div class="text-sm">
                                  {{ index $project.thumbnailLocation $lang}}
                              </div>
                              <div class="text-sm">
                                {{ index $project.thumbnailDate $lang}}
                            </div>
                          </div>
                      </div>
                  </a>
              </div>
          {{ end }}
      </div>
      <div id="main-projects-carousel-dots-container"></div>
      <br />
      <!-- </div> -->
</section>
