{{ "<!-- Portfolio Modals -->" | safeHTML }}
{{ $lang := .Site.Language.Lang }}
{{ range $projectIndex, $project := .Site.Data.projects }}
<div class="projects-modal modal fade" id="portfolioModal{{ $project.modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="col-sm-10 col-sm-offset-1 modal-body">
            <div class="modal-title">
                <h3 class="section-heading">{{ index $project.title $lang }}</h3>
                <div>
                    <hr/>
                </div>
                <h5>
                    <div>{{ index $project.date $lang }}</div>
                    <div>{{ index $project.place $lang}}</div>
                </h5>

                {{ "<!-- Project carousel -->" | safeHTML }}
                <div id="carousel-example-generic-{{ $project.modalID }}" 
                    class="carousel slide"
                    data-ride="carousel"
                    data-interval="false">

                    {{ "<!-- Slides -->" | safeHTML }}
                    <div class="carousel-inner" role="listbox">
                        {{ range $imageIndex, $image := $project.img }}
                            <div class="item {{ if eq $imageIndex 0 }} active {{ end }}">
                                <img src="{{ $image }}" class="img-responsive">
                            </div>
                        {{ end }}
                        {{ if $project.video }}
                            {{ range $videoIndex, $video := $project.video }}
                                <div class="item"
                                    style="border:2px solid red;">
                                    <img src="{{ $video }}" class="img-responsive">
                                </div>
                            {{ end }}
                        {{ end }}
                        {{ if $project.models }}
                            {{ range $modelIndex, $model := $project.models }}
                                <div class="item"
                                    style="border:2px solid blue;">
                                    <img src="{{ $model }}" class="img-responsive">
                                </div>
                            {{ end }}
                        {{ end }}
                    </div>

                    {{ "<!-- Indicators -->" | safeHTML }}
                    <ol class="carousel-indicators">
                        {{ range $imageIndex, $image := $project.img }}
                            <li 
                                data-target="#carousel-example-generic-{{ $project.modalID }}"
                                data-slide-to="{{ $imageIndex }}" 
                                class="carousel-indicator-img {{ if eq $imageIndex 0 }} active {{ end }}">
                            </li>
                        {{ end }}
                        {{ if $project.video }}
                            {{ range $videoIndex, $video := $project.video }}
                                <li 
                                    data-target="#carousel-example-generic-{{ $project.modalID }}"
                                    data-slide-to="{{ add (len $project.img) $videoIndex }}" 
                                    class="carousel-indicator-video {{ if eq $videoIndex 0 }} active {{ end }}"
                                    style="display:none;">
                                </li>
                            {{ end }}
                        {{ end }}
                        {{ if and $project.models $project.video}}
                            {{ range $modelIndex, $model := $project.models }}
                                <li 
                                    data-target="#carousel-example-generic-{{ $project.modalID }}"
                                    data-slide-to="{{ add ( add (len $project.img) (len $project.video) ) $modelIndex }}" 
                                    class="carousel-indicator-3ds {{ if eq $modelIndex 0 }} active {{ end }}"
                                    style="display:none;">
                                </li>
                            {{ end }}
                        {{ end }}
                        {{ if and $project.models (not $project.video) }}
                            {{ range $modelIndex, $model := $project.models }}
                                <li 
                                    data-target="#carousel-example-generic-{{ $project.modalID }}"
                                    data-slide-to="{{ add (len $project.img) $modelIndex }}" 
                                    class="carousel-indicator-3ds {{ if eq $modelIndex 0 }} active {{ end }}"
                                    style="display:none;">
                                </li>
                            {{ end }}
                        {{ end }}
                    </ol>

                    {{ "<!-- Type Selectors -->" | safeHTML }}
                    <div class="carousel-type text-center">
                        Pictures
                    </div>

                    <ol class="carousel-indicators carousel-type-indicators">
                        <li 
                            class="carousel-type-img type-active"
                            onclick="display({{ $project.modalID }}, 'img', 0)"
                        />
                        {{ if $project.video }}
                            <li 
                                class="carousel-type-video"
                                onclick="display({{ $project.modalID }}, 'video', {{ len $project.img }})"
                            />
                        {{ end }}
                        {{ if and $project.models $project.video}}
                            <li 
                                class="carousel-type-3ds"
                                onclick="display({{ $project.modalID }}, '3ds', {{ len $project.img }} +  {{ len $project.video }})"
                            />
                        {{ end }}
                        {{ if and $project.models (not $project.video) }}
                            <li 
                                class="carousel-type-3ds"
                                onclick="display({{ $project.modalID }}, '3ds', {{ len $project.img }})"
                            />
                        {{ end }}
                    </ol>

                </div>


            </div>
            <div class="modal-description">
                <p class="text-justify">{{ index $project.description $lang | markdownify }}</p>
            </div>
        </div>
    </div>
</div>
{{ end }}

<script type="text/javascript">
    function display(projectId, type, firstIndexOfType) {
        var carouselId = '#carousel-example-generic-' + projectId;
        var carouselElement = $(carouselId);

        // remove class type-active from every type icon
        carouselElement
            .find('.carousel-type-indicators')
            .find('li')
            .removeClass('type-active');

        // add class type-active to selected type icon
        carouselElement
            .find('.carousel-type-' + type)
            .addClass('type-active');

        // modify type element content
        var textType = '';
        switch (type) {
            case 'img':
                textType = 'Pictures';
                break;
            case 'video':
                textType = 'Videos';
                break;
            case '3ds':
                textType = '3Ds';
                break;
            default:
                break;
        }
        carouselElement
            .find('.carousel-type')
            .text(textType);

        // set display:none for all carousel indicators
        carouselElement
            .find('.carousel-indicators:not(.carousel-type-indicators)')
            .find('li')
            .css('display', 'none');

        // set display:block for all indicators corresponding to $type
        carouselElement
            .find('.carousel-indicator-' + type)
            .css('display', 'inline-block');

        // slides carousel to first element of correspont $type
        carouselElement.carousel(firstIndexOfType);
    }
</script>
