{{ "<!-- Portfolio Modals -->" | safeHTML }}
{{ $lang := .Site.Language.Lang }}
{{ range $projectIndex, $project := .Site.Data.projects }}
<div class="iconem-modal modal fade" id="portfolioModal{{ $project.modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        
        <img src="../img/home/cross.png" class="close-modal" data-dismiss="modal">
        
        <div class="col-sm-10 col-sm-offset-1 modal-body">
            <div class="modal-fixed">
                <h3 class="text-uppercase text-bolder">{{ index $project.title $lang }}</h3>
                <div>
                    <hr/>
                </div>
                <div class="project-media-icons-container">
                    {{ if (or $project.video $project.models) }}
                        <a role="button" 
                            data-toggle="collapse"
                            href="#project-{{ $projectIndex }}-img-carousel"
                            data-parent='#project-{{$projectIndex}}-media'
                            aria-expanded="true">
                            <img src="../img/projects/icons/img_black.png">
                        </a>
                        {{ if $project.video }}
                            <a role="button" 
                                data-toggle="collapse"
                                class="collapsed"
                                href="#project-{{ $projectIndex }}-video-carousel"
                                data-parent='#project-{{$projectIndex}}-media'
                                aria-expanded="false">
                                <img src="../img/projects/icons/video_black.png">
                            </a>
                        {{ end }}
                        {{ if $project.models }}
                            <a role="button" 
                                data-toggle="collapse"
                                class="collapsed"
                                href="#project-{{ $projectIndex }}-models-carousel"
                                data-parent='#project-{{$projectIndex}}-media'
                                aria-expanded="false">
                                <img src="../img/projects/icons/3ds_black.png">
                            </a>
                        {{ end }}
                    {{ end }}
                </div>

                <div class="project-media-container">
                    {{ with (index $project.img 0) }}
                        <img class="img-responsive dummy" src="{{ .src }}">
                    {{ end }}
                    <div class="panel-group project-media" id="project-{{$projectIndex}}-media" role="tablist" aria-multiselectable="false">

                        {{ "<!-- Image carousel -->" | safeHTML }}
                        <div class="panel">
                            <div id="project-{{ $projectIndex }}-img-carousel" class="panel-collapse collapse in" role="tabpanel">
                                <div class="project-media-type text-uppercase">
                                    {{ $.Site.Params.projects.modal.pictures }}
                                </div>
                                <div class="owl-carousel owl-theme">
                                    {{ range $project.img }}
                                        <div>
                                            <img src="{{ .src }}" class="img-responsive">
                                            <div class="img-caption">{{ index .caption $lang }}</div>
                                        </div>
                                    {{ end }}
                                </div>
                            </div>
                        </div>

                        {{ "<!-- Video carousel -->" | safeHTML }}
                        {{ if $project.video }}
                        <div class="panel">
                            <div id="project-{{ $projectIndex }}-video-carousel" class="panel-collapse collapse" role="tabpanel">
                                <div class="project-media-type text-uppercase">
                                    {{ $.Site.Params.projects.modal.videos }}
                                </div>
                                <div class="owl-carousel owl-theme">
                                    {{ range $project.video }}
                                        <div>
                                            <img src="{{ . }}" class="img-responsive">
                                            <div style="position: absolute;z-index: 2;color:white;font-size:50px;top:50%;left:50%;transform:translateX(-50%) translateY(-50%)">VIDEO</div>
                                        </div>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                        {{ end }}

                        {{ "<!-- 3D models carousel -->" | safeHTML }}
                        {{ if $project.models }}
                        <div class="panel">
                            <div id="project-{{ $projectIndex }}-models-carousel" class="panel-collapse collapse" role="tabpanel">
                                <div class="project-media-type text-uppercase">
                                    {{ $.Site.Params.projects.modal.models }}
                                </div>
                                <div class="owl-carousel owl-theme">
                                    {{ range $project.models }}
                                        <div>
                                            <img src="{{ . }}" class="img-responsive">
                                            <div style="position: absolute;z-index: 2;color:white;font-size:50px;top:50%;left:50%;transform:translateX(-50%) translateY(-50%)">3D</div>
                                        </div>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
            <div class="modal-scrollable text-justify">
                <strong>2017</strong>
                <i>Exposition au Grand Palais</i>
                <div>
                    <strong>{{ $.Site.Params.projects.modal.actors }}</strong>
                    <span>{{ index $project.actors $lang }}</span>
                </div>
                <div>
                    <strong>{{ $.Site.Params.projects.modal.partners }}</strong>
                    <span>{{ index $project.partners $lang }}</span>
                </div>
                <hr align="left">
                <div>{{ index $project.description $lang | markdownify }}</div>
            </div>
        </div>
    </div>
</div>
{{ end }}
