<section class="no-padding" id="projects">
    <section>
        <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                {{ with .Site.Params.projects.title }}
                    <h3 class="section-heading text-center">{{ . }}</h3>
                {{ end }}
                    <br>
                {{ with .Site.Params.projects.description }}
                    <p class="text-justify">{{ . | markdownify }}</p>
                {{ end }}
            </div>
        </div>
    </div>
    </section>
    <div class="row no-gutter">
        {{ range .Site.Data.projects }}
            <div class=" col-lg-3 col-md-4 col-sm-6">
                <a href="#portfolioModal{{ .modalID }}" class="portfolio-box portfolio-link" data-toggle="modal">
                    <img src="{{ index .img 0 }}" class="img-responsive" alt="">
                    {{ if .title }}
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                {{ with .category }}
                                    <div class="project-category">
                                        {{ . }}
                                    </div>
                                {{ end }}
                                {{ with .title }}
                                    <div class="project-name">
                                        {{ . }}
                                    </div>
                                {{ end }}
                                {{ with .date }}
                                    <div>
                                        {{ . }}
                                    </div>
                                {{ end }}
                                {{ with .place }}
                                    <div>
                                        {{ . }}
                                    </div>
                                {{ end }}
                            </div>
                        </div>
                    {{ end }}
                </a>
            </div>
        {{ end }}
    </div>
</section>
