{{ $lang := .Site.Language.Lang }}
{{ $team_members := .Site.Data.team.members }}
<section id="team">
  <div class="container-fluid">
    <div class="row">
      <div id="about-team-left" class="col-lg-6">
        <div style="display:flex;justify-content: space-around;">
            <!-- grow shrink basis -->
            <div style="flex:1 1 100%;min-width:50%;">
            {{ with .Site.Params.team }}
                <div>
                <h3 class="text-center text-uppercase text-bolder section-title">
                    {{ .title }}
                </h3>
                <h4 class="text-center text-uppercase"> {{ .subtitle }}</h4>
                <br />
                </div>
            {{ end }}

            {{ with .Site.Params.team.description }}
                <p class="text-justify">{{ . | markdownify }}</p>
            {{ end }}
            </div>
            <div class="panel-group team" id="team-accordion" role="tablist" aria-multiselectable="false">
              {{ range sort $team_members "name" }}
                    <div class="panel team-member-panel">
                        {{ if eq .id "yves" }}
                            <div id="team-member-{{ .id }}" class="panel-collapse collapse text-justify" role="tabpanel">
                        {{ else }}
                            <div id="team-member-{{ .id }}" class="panel-collapse collapse text-justify" role="tabpanel">
                        {{ end }}
                            <h3 class="text-uppercase text-bold">{{ .name }}</h3>
                            <br>
                            <h4 class="text-uppercase"> {{ index .job $lang | markdownify }}</h4>
                            <br>
                            <p class="text-justify">{{ index .description $lang | markdownify}}</p>
                            </div>
                    </div>
              {{ end }}
            </div>
          </div>
      </div>
      <div id="about-team-right" class="col-lg-6">
        <div id="team-img-container">
          {{ range sort $team_members "order" }}
            <div class="team-img" id="team-img-{{ .id }}">
            <a role="button" 
                data-toggle="collapse"
                href="#team-member-{{ .id }}"
                data-parent='#team-accordion'
                aria-expanded="false"
                >
                {{ with resources.Get .img }}
                  <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ (.Fit "228x228 webp").RelPermalink }}" class="img-responsive" />
                {{ end }}
            </a>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
