{{ "<!-- Team Modal content-->" | safeHTML }}
{{ $lang := .Site.Language.Lang }}
{{ $team_members := .Site.Data.team }}
<section class="no-padding" id="team">
    <div id="team-img-container">
            {{ range sort .Site.Data.team "order" }}
                {{ if eq .enabled true }}
                    {{ if eq .id "yves" }}
                        <div class="team-img in" id="team-img-{{ .id }}">
                    {{ else }}
                        <div class="team-img" id="team-img-{{ .id }}">
                    {{ end }}
                        <a role="button" 
                            data-toggle="collapse"
                            href="#team-member-{{ .id }}"
                            data-parent='#team-accordion'
                            aria-expanded="false"
                            >
                            <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ .img }}" class="img-responsive" />
                        </a>
                    </div>
                {{ end }}
            {{ end }}
    </div>

    <div class="panel-group" id="team-accordion" role="tablist" aria-multiselectable="false">
        {{ range sort .Site.Data.team "order" }}
            {{ if eq .enabled true }}
                <div class="panel team-member-panel">
                    {{ if eq .id "yves" }}
                        <div id="team-member-{{ .id }}" class="panel-collapse collapse in text-justify" role="tabpanel">
                    {{ else }}
                        <div id="team-member-{{ .id }}" class="panel-collapse collapse text-justify" role="tabpanel">
                    {{ end }}
                        <h3 class="text-uppercase text-bold">{{ .name }}</h3>
                        <br>
                        <h4 class="text-uppercase"> {{ index .job $lang | markdownify }}</h4>
                        <!-- <br>
                        <div class="modal-scrollable no-margin">{{ index .description $lang | markdownify}}</div> -->
                    </div>
                </div>
            {{ end }}
        {{ end }}
    </div>
</section>

<script type="text/javascript">
    function changePhotoSrc(teamMembers, index) {
        Object.keys(teamMembers).map(function (key) {
            var teamMember = teamMembers[key];
            var id = '#team-img-' + key;
            if (key === index) {
                $(id).addClass('in');
                // $(id + ' img').attr('src', teamMember.img_color);
            } else {
                $(id).removeClass('in');
                // $(id + ' img').attr('src', teamMember.img); 
            }
        });
    }
</script>