{{ "<!-- Team Modal content-->" | safeHTML }}
{{ $lang := .Site.Language.Lang }}
<section class="no-padding" id="team">
    <div class="team-img-container">
            {{ range $memberIndex, $member := .Site.Data.about.team.members }}
                <div class="team-img">
                    <a role="button" 
                        data-toggle="collapse"
                        href="#team-member-{{ $memberIndex }}"
                        data-parent='#team-accordion'
                        aria-expanded="false">
                        <img src="{{ $member.params.img }}" class="img-responsive" />
                    </a>
                </div>
            {{ end }}
    </div>

    <div class="panel-group" id="team-accordion" role="tablist" aria-multiselectable="false">
        {{ range $memberIndex, $member := .Site.Data.about.team.members }}
          <div class="panel team-member-panel">
            <div id="team-member-{{ $memberIndex }}" class="panel-collapse collapse text-justify" role="tabpanel">
                <h3 class="text-uppercase text-bold">{{ $member.params.name }}</h3>
                <br>
                <h4 class="text-uppercase"> {{ index $member.params.job $lang }}</h4>
                <br>
                <div class="modal-scrollable no-margin">{{ index $member.params.description $lang | markdownify}}</div>
            </div>
        </div>
        {{ end }}
    </div>
</section>